<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>数据监控网站</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="stylesheets/jquery.gridster.css">
    <script src="javascripts/choose.js"></script>
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="javascripts/highcharts.js"></script>
    <script src="javascripts/jquery.gridster.js"></script>
    <script src='/socket.io/socket.io.js'></script>
    <style>
        .gridster ul{margin:0;}
        .gridster ul li{list-style-type:none;border:1px solid #f0ad4e;}

    </style>
</head>
<body onload="clicked1('append','edit1')">
<!--添加组件的modal-->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#component">+组件</button>
<div id='count'></div>
<div class="modal" id="component" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">添加一个插件</h4>
            </div>
            <div class="modal-content">
				<img id="choosepushcolumn" src="images/pushcolumn.jpg" onclick="choosePushcolumn()" class="img" data-toggle="modal" data-target="#pushcolumn" data-dismiss="modal" aria-label="Close">
                <img id="choosepushcolumnmulti" src="images/pushcolumnmulti.jpg" onclick="choosePushcolumnmulti()" class="img" data-toggle="modal" data-target="#pushcolumnmulti" data-dismiss="modal" aria-label="Close">
                <img id="choosepushcolumnlog" src="images/pushcolumnlog.jpg" onclick="choosePushcolumnlog()" class="img" data-toggle="modal" data-target="#pushcolumnlog" data-dismiss="modal" aria-label="Close">
                <img id="choosepushgauge" src="images/pushgauge.jpg" onclick="choosePushgauge()" class="img" data-toggle="modal" data-target="#pushgauge" data-dismiss="modal" aria-label="Close">
                <img id="choosepushline" src="images/pushline.jpg" onclick="choosePushline()" class="img" data-toggle="modal" data-target="#pushline" data-dismiss="modal" aria-label="Close">
                <img id="choosearea" src="images/area.jpg" onclick="chooseArea()" class="img" data-toggle="modal" data-target="#area" data-dismiss="modal" aria-label="Close">
                <img id="choosebar" src="images/bar.jpg" onclick="chooseBar()" class="img" data-toggle="modal" data-target="#bar" data-dismiss="modal" aria-label="Close">
                <img id="choosecolumn" src="images/column.jpg" onclick="chooseColumn()" class="img" data-toggle="modal" data-target="#column" data-dismiss="modal" aria-label="Close">
                <img id="chooseline" src="images/line.jpg" onclick="chooseLine()" class="img" data-toggle="modal" data-target="#line" data-dismiss="modal" aria-label="Close">

            </div>
        </div>
    </div>
</div>


<script>
    var newidname="pushcolumn";
    function choosePushcolumn(){
        var datatarget=document.getElementById("choosepushcolumn").getAttribute("data-target");
        var idname=datatarget.substring(1,datatarget.length);
        var imgsrc=document.getElementById("choosepushcolumn").getAttribute("src");
        document.getElementById("imgid").setAttribute("src",imgsrc);
        document.getElementById(newidname).setAttribute("id",idname);
        newidname=idname;
    }
    function choosePushcolumnmulti(){
        var datatarget=document.getElementById("choosepushcolumnmulti").getAttribute("data-target");
        var idname=datatarget.substring(1,datatarget.length);
        var imgsrc=document.getElementById("choosepushcolumnmulti").getAttribute("src");
        document.getElementById("imgid").setAttribute("src",imgsrc);
        document.getElementById(newidname).setAttribute("id",idname);
        newidname=idname;
    }
    function choosePushcolumnlog(){
        var datatarget=document.getElementById("choosepushcolumnlog").getAttribute("data-target");
        var idname=datatarget.substring(1,datatarget.length);
        var imgsrc=document.getElementById("choosepushcolumnlog").getAttribute("src");
        document.getElementById("imgid").setAttribute("src",imgsrc);
        document.getElementById(newidname).setAttribute("id",idname);
        newidname=idname;
    }
    function choosePushgauge(){
        var datatarget=document.getElementById("choosepushgauge").getAttribute("data-target");
        var idname=datatarget.substring(1,datatarget.length);
        var imgsrc=document.getElementById("choosepushgauge").getAttribute("src");
        document.getElementById("imgid").setAttribute("src",imgsrc);
        document.getElementById(newidname).setAttribute("id",idname);
        newidname=idname;
    }
    function choosePushline(){
        var datatarget=document.getElementById("choosepushline").getAttribute("data-target");
        var idname=datatarget.substring(1,datatarget.length);
        var imgsrc=document.getElementById("choosepushline").getAttribute("src");
        document.getElementById("imgid").setAttribute("src",imgsrc);
        document.getElementById(newidname).setAttribute("id",idname);
        newidname=idname;
    }
    function chooeArea(){
        var datatarget=document.getElementById("choosearea").getAttribute("data-target");
        var idname=datatarget.substring(1,datatarget.length);
        var imgsrc=document.getElementById("choosearea").getAttribute("src");
        document.getElementById("imgid").setAttribute("src",imgsrc);
        document.getElementById(newidname).setAttribute("id",idname);
        newidname=idname;
    }
    function chooseBar(){
        var datatarget=document.getElementById("choosebar").getAttribute("data-target");
        var idname=datatarget.substring(1,datatarget.length);
        var imgsrc=document.getElementById("choosebar").getAttribute("src");
        document.getElementById(newidname).setAttribute("id",idname);
        document.getElementById("imgid").setAttribute("src",imgsrc);
        newidname=idname;
    }
    function chooseColumn(){
        var datatarget=document.getElementById("choosecolumn").getAttribute("data-target");
        var idname=datatarget.substring(1,datatarget.length);
        var imgsrc=document.getElementById("choosecolumn").getAttribute("src");
        document.getElementById("imgid").setAttribute("src",imgsrc);
        document.getElementById(newidname).setAttribute("id",idname);
        newidname=idname;
    }
    function chooseLine(){
        var datatarget=document.getElementById("chooseline").getAttribute("data-target");
        var idname=datatarget.substring(1,datatarget.length);
        var imgsrc=document.getElementById("chooseline").getAttribute("src");
        document.getElementById("imgid").setAttribute("src",imgsrc);
        document.getElementById(newidname).setAttribute("id",idname);
        newidname=idname;
    }
</script>




<!--各个组件的具体的modal-->
<div class="modal" id="pushcolumn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="title1">编辑插件</h4>
            </div>
            <div class="modal-content">
                <div id="cho">
                <div id="append" class="choice" onclick="clicked1('append','edit1')">添加数据</div>
                <div id="sty" class="choice" onclick="clicked2('sty','edit2')">样式配置</div>
                <div id="data" class="choice" onclick="clicked3('data','edit3')">数据格式</div>
                </div>
                <div id="edit1">
                    <ul>
                        <li><label for="placeholder">控件在面板上占位单元格</label></li>
                        <li>
                            <select id="placeholder">
                            <option value="twotwo">两行两列</option>
                            <option value="twothree">两行三列</option>
                            <option value="threethree">三行三列</option>
                            </select>
                        </li>
                        <li><label for="msgld">Msgld</label></li>
                        <li><input id="msgid" type="text" id="msgld" class="input-group"></li>
                    </ul>
                    <img src="images/pushcolumn.jpg">
                </div>
                <div id="edit2">
                    <ul id="config">
                    <li><input id="title" type="text" class="input-group" placeholder="标题"></li>
                    <li><input id="bTitle" type="text" class="input-group" placeholder="副标题"></li>
                    <li><input id="xAxis" type="text" class="input-group" placeholder="X轴"></li>
                    <li><input id="yAxis" type="text" class="input-group" placeholder="Y轴"></li>
                    </ul>
                    <ul id="config2">
                    <li><label for="istag">是否显示标签</label></li>
                    <li><select id="istag">
                        <option value="yes">显示</option>
                        <option value="no">不显示</option>
                    </select></li>
                    <li><label for="turntag">标签旋转</label></li>
                    <li><select id="turntag">
                        <option value="zero">0度</option>
                        <option value="ninety">90度</option>
                        <option value="straight">180度</option>
                        <option value="circle">360度</option>
                    </select></li>
                    </ul>
                </div>
                <div id="edit3">
                    <pre>
                        {
                            "VALUE":{
                                {
                                    "NAME":"ANDROID",
                                    "DATA":[
                                        [
                                          "3月"，
                                          413
                                        ],
                                       [
                                          "4月"，
                                           311
                                        ],
                                     ]
                                }
                               {
                                   "NAME":"IOS",
                                }
                            }
                        }
                    </pre>
                </div>
                <div id="save" data-dismiss="modal" aria-label="Close">
                    保存设置此控件
                </div>
            </div>
        </div>
    </div>
</div>
<!--用于显示highchat绘制的表格-->
<div class="gridster">
    <ul id="ul"></ul>
</div>
<script src="javascripts/main.js"></script>
<script>
    $("#pushcolumn").draggable();
    $("#component").draggable();
</script>
</body>
</html>
