<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../public/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="../public/stylesheets/main.css">
</head>
<body>
<div id="regContainer">
    <h1>登录</h1>
    <form id="regForm">
        <ul>
            <li>
                <label>用户名</label>
                <input type="text" value="请输入用户名" onfocus="if(value=='请输入用户名') {value=''}" onblur="if (value=='') {value='请输入用户名'}">
            </li>
            <li>
                <label>设置密码</label>
                <input type="text" value="请输入密码" onfocus="if(value=='请输入密码') {value=''}" onblur="if (value=='') {value='请输入密码'}">
            </li>
            <li>
                <label>重新输入密码</label>
                <input type="text" value="请重新输入密码" onfocus="if(value=='请重新输入密码') {value=''}" onblur="if (value=='') {value='请重新输入密码'}">
            </li>
        </ul>
    </form>
    <button id="regist">注册</button>
    <a href="login.html">登录</a>
</div>
</body>
</html>