body{
    background-color: #222;
}
#edit1,
#edit2,
#edit3{
    position: absolute;
    top:0px;
    left: 90px;
    width: 500px;
    height: 400px;
    background-color: #ddd;
}
#edit3,
#edit2,
#edit1{
    visibility: hidden;
}
#pushcolumn
.modal-content{
    height: 480px;
}
#pushcolumnmulti
.modal-content{
    height: 480px;
}
#pushcolumnlog
.modal-content{
    height: 480px;
}
#pushgauge
.modal-content{
    height: 480px;
}
#pushline
.modal-content{
    height: 480px;
}
#area
.modal-content{
    height: 480px;
}
#bar
.modal-content{
    height: 480px;
}
#column
.modal-content{
    height: 480px;
}
#line
.modal-content{
    height: 480px;
}
#cho,
#edit2 #config,
#edit1 ul{
    float: left;
}
.choice{
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin: 0 0 10px 10px;
    background-color: #adadad;
}
.img{
    width: 180px;
    height: 90px;
    margin: 8px;
    border: 6px solid #adadad;
}
li{
    list-style-type: none;
}
select,input{
    width: 220px;
}

#edit1 img{
    width: 200px;
    height: 100px;
    margin: 0 0 0 30px;
}
/*#edit3{
    clear: both;
    width: 450px;
    margin-left: 130px;
}*/
#save{
    position: absolute;
    top:420px;
    width: 500px;
    height: 40px;
    margin-left: 90px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #adadad;
    text-align: center;
    line-height: 40px;
}
#edit2 #config li{
    margin-bottom: 10px;
}
